@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
nav .green-bar {
  height: 4px;
  background-color: #01a6a0; }
  nav .green-bar .logo {
    padding: 0 15px 10px 15px;
    background: white;
    width: 75px;
    box-shadow: 1px 1px 24px 10px rgba(0, 0, 0, 0.3);
    z-index: 101;
    position: absolute; }
nav .nav-up {
  height: 50px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }
  nav .nav-up .icon {
    width: 15px;
    margin-right: 10px; }
  nav .nav-up .icon.search {
    margin-right: 0px; }
  nav .nav-up a {
    color: #0a1e75; }
  nav .nav-up .row {
    padding-top: 8px; }
nav .nav-down {
  height: 50px;
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; }
  nav .nav-down a {
    color: #4e4e4e;
    margin-right: 10px; }
  nav .nav-down .language a {
    color: #0a1e75; }
  nav .nav-down .row {
    padding-top: 8px; }
nav ul {
  margin-top: 0; }
  nav ul li {
    display: inline;
    list-style-type: none;
    margin-left: 8px; }
    nav ul li a {
      text-decoration: none; }
    nav ul li img {
      width: 10px; }

footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
  margin-top: 100px; }
  footer .green-bar {
    height: 4px;
    background-color: #01a6a0; }
    footer .green-bar .logo {
      width: initial;
      bottom: 0;
      position: fixed;
      padding: 10px 15px 0 15px;
      background: #ffffff;
      box-shadow: 1px 1px 24px 10px rgba(0, 0, 0, 0.3); }
  footer .footer-nav {
    margin-bottom: 15px; }
  footer h3 {
    line-height: 0;
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px; }
  footer li {
    list-style-type: none;
    line-height: 0; }
    footer li a {
      text-decoration: none;
      color: #01a6a0;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }
  footer .contact p {
    margin: 0px;
    font-size: 15px; }
  footer .contact input {
    margin: 15px 5px 10px 0px; }
  footer .contact img.social {
    width: initial;
    margin-top: 10px; }
  footer .contact .inline img {
    width: initial; }
  footer .copyright {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; }
  footer .nav-footer {
    background-color: #eaeaea; }
    footer .nav-footer ul li {
      display: inline; }
    footer .nav-footer a {
      color: #4e4e4e;
      margin: 16px; }
    footer .nav-footer .language a {
      color: #0a1e75;
      margin: 4px; }
    footer .nav-footer .row {
      padding-top: 5px;
      margin-top: 0; }

h1, h2, h3, h4, h5, h6, p, a, form {
  font-family: 'Open Sans',sans-serif; }

h1 {
  font-weight: 300;
  font-size: 45px;
  color: #545353; }

.faq-questions .faq-question a {
  display: block; }

form {
  margin-left: 0;
  padding-left: 0; }
  form select {
    width: 100%;
    height: 50px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    padding-left: 20px; }
  form input {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    margin-left: 0;
    padding-left: 20px; }
  form textarea {
    width: 100%;
    height: 125px;
    background: #f5f5f5; }

::-webkit-input-placeholder {
  opacity: 1;
  color: #545454; }

::-moz-placeholder {
  opacity: 1;
  color: #545454; }

:-ms-input-placeholder {
  opacity: 1;
  color: #545454; }

:-moz-placeholder {
  opacity: 1;
  color: #545454; }

body {
  background-color: #ffffff; }

.hero-image img {
  max-width: 100%;
  max-height: 900px;
  position: relative; }
.hero-image .mySlides {
  margin-top: -12px; }
.hero-image .hero-tekst {
  position: absolute;
  background-color: rgba(1, 32, 166, 0.8);
  padding: 36px 50px;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  .hero-image .hero-tekst p {
    color: white;
    text-align: left;
    font-size: 15px; }
.hero-image .hero-image.pages {
  top: 0px;
  position: absolute; }
  .hero-image .hero-image.pages img {
    max-width: 1500px;
    height: 536; }
  .hero-image .hero-image.pages .heroauction {
    position: absolute;
    background-color: rgba(1, 32, 166, 0.8);
    padding: 36px 50px;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
.hero-image #circle {
  position: absolute;
  left: -12px;
  top: -12px;
  width: initial; }

.bold {
  font-weight: bold; }

#search::placeholder {
  color: #1d1d1b;
  font-size: 15px;
  font-style: italic; }

#search {
  background-color: #ffffff;
  border: 1px solid #bebebd;
  border-radius: 5px;
  padding-left: 22px;
  height: 30px; }

.caroussel .button {
  width: 40px;
  height: 70px;
  background-color: #1d1d1b;
  opacity: .2;
  position: absolute;
  top: 50%; }

.cl-inline {
  clear: both; }

.fl-right {
  float: right; }

.fl-left {
  float: left; }

img {
  width: 100%;
  object-fit: cover; }

.icon {
  width: initial; }

.inline {
  display: flex; }

.original img {
  width: initial; }

.spotlight {
  background: #f3f3f3;
  padding-bottom: 100px;
  padding-top: 50px; }
  .spotlight img {
    height: 170px;
    margin: 2px; }
  .spotlight .extra img {
    height: 350px; }

.carousel button {
  top: 50%;
  position: absolute;
  height: 70px;
  width: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 50px; }
.carousel .button-left {
  left: 0; }
.carousel .button-right {
  right: 0; }

.artist img {
  height: 820px;
  opacity: 0.4; }

.auction-small {
  height: 380;
  padding-bottom: 20px; }
  .auction-small img {
    height: 250px; }
  .auction-small p, .auction-small a {
    margin-left: 20px; }
  .auction-small p.det-descr {
    font-size: 15px;
    color: #0a1e75;
    line-height: 0; }
  .auction-small p.name {
    font-size: 20px;
    line-height: 0;
    font-weight: bold; }
  .auction-small p.price {
    font-size: 18px;
    line-height: 12px; }
  .auction-small p.countdown {
    font-size: 14px;
    color: #545353; }
  .auction-small .button {
    width: 120px;
    font-size: 12px;
    color: #0a1e75;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
